<h1>Read News from Guardian</h1>
<div class="form-inline">
  <input type="search" [(ngModel)]="searchQuery" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Search...">
  <!--<input disabled id="typeahead-basic" placeholder="search tags" type="text" class="form-control mb-2 mr-sm-2" [(ngModel)]="model" [ngbTypeahead]="search"/>-->

  <button type="submit" (click)="searchArticles()" class="btn btn-primary mb-2">Filter Results</button>
</div>


<div class="container-fluid">
  <ul class="list-group">
    <app-news-content-container *ngFor="let content of newsContentList" [content]="content"></app-news-content-container>
  </ul>
</div>

