  <form class="form">
    <div class="form-group">
      <input [(ngModel)]="username" name="usernameFld" type="text"
             class="form-control" placeholder="Username" required="">
    </div>
    <div class="form-group">
      <input type="password" [(ngModel)]="password" name="passwordFld"
             class="form-control" placeholder="Password" required="">
      <div class="help-block text-right"><a href="">Forgot the password ?</a></div>
    </div>
    <div class="form-group">
      <button type="reset" (click)="login(username, password)" class="btn btn-primary btn-block">Sign in</button>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> keep me logged-in
      </label>
    </div>
  </form>
