<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="home">NewsShorts</a>

  <div class="collapse navbar-collapse" id="navbarColor01">

    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a class="nav-link dropdown-toggle mr-sm-2" href="#"  role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <b>Categories</b> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li class="dropdown-item"><a href="#"><b >Business</b></a></li>
          <li class="dropdown-item"><a href="#"><b>Politics</b></a></li>
          <li class="dropdown-item"><a href="#"><b>Tech</b></a></li>
          <li class="divider"></li>
          <li class="dropdown-item"><a href="#"><b>International</b></a></li>
          <li class="divider"></li>
          <li class="dropdown-item"><a href="#"></a><b>More..</b></li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><p *ngIf="!user.firstName"
             class="navbar-text">Already have an account?</p></li>
      <li  class="dropdown"
           *ngIf="!user.firstName">
        <a class="nav-link dropdown-toggle mr-sm-2" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <b>Login</b> <span class="caret"></span>
        </a>
        <ul id="login-dp" class="dropdown-menu">
          <li>
            <div class="row">
              <div class="col-md-12">
                <app-login></app-login>
                <div class="bottom text-center">
                New here ? <a href="#"><b>Join Us</b></a>
              </div>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <li *ngIf="user.firstName"
          class="dropdown">
        <a class="nav-link dropdown-toggle mr-sm-2" href="#"
           role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <b> {{user.firstName}} </b> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li class="dropdown-item">
            <a href="/profile"><b  role="button"> Profile </b></a>
          </li>
          <li class="dropdown-item">
            <b role="button" (click)="logout()"> Logout </b>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
