<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">NewsShorts</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">

    <ul class="nav navbar-nav mr-auto">
      <li class="dropdown">
        <a class="nav-link dropdown-toggle mr-sm-2" href="#" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <b>Categories</b> <span class="caret"></span>
        </a>
        <div class="dropdown-menu" role="menu" aria-labelledby="navbarDropdown">
          <!--todo: filter news summary by tags-->
          <a class="dropdown-item" routerLink="">Business</a>
          <a class="dropdown-item" routerLink="">Politics</a>
          <a class="dropdown-item" routerLink="">Tech</a>
          <a class="dropdown-item" routerLink="">International</a>
          <div class="dropdown-divider"></div>
          <a href="#">More...</a>
        </div>
      </li>
    </ul>


    <ul class="nav navbar-nav navbar-right">

      <li *ngIf="!user"
          class="dropdown">
        <a class="nav-link dropdown-toggle mr-sm-2" aria-haspopup="true" aria-expanded="false" href="#"
           role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <b>Register</b> <span class="caret"></span>
        </a>
        <ul id="register-dp" class="dropdown-menu">
          <li>
            <div class="row">
              <div class="col-md-12">
                <app-register> </app-register>

              </div>
            </div>
          </li>
        </ul>

      </li>

      <li *ngIf="!user"
          class="dropdown">
        <a class="nav-link dropdown-toggle mr-sm-2" aria-haspopup="true" aria-expanded="false" href="#"
           id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <b>Login</b> <span class="caret"></span>
        </a>
        <ul id="login-dp" class="dropdown-menu">
          <li>
            <div class="row">
              <div class="col-md-12">
                <app-login></app-login>
                <div class="bottom text-center">
                  New here ? <a href="#"><b>Join Us</b></a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </li>

      <li *ngIf="user">
        <a class="nav-link mr-sm-2" routerLink="/summarize"
           role="button"
           aria-haspopup="true" aria-expanded="false" *ngIf="user.role === 'Editor'">
          <b> News Editor</b>
        </a>
        <a class="nav-link mr-sm-2" routerLink="/advertiser"
           role="button"
           aria-haspopup="true" aria-expanded="false" *ngIf="user.role === 'Advertiser'">
          <b> Ad Editor</b> <span class="caret"></span>
        </a>
        <a class="nav-link mr-sm-2" routerLink="/favourites"
           role="button"
           aria-haspopup="true" aria-expanded="false" *ngIf="user.role === 'Reader'">
          <b> Favourites</b> <span class="caret"></span>
        </a>
      </li>

      <li *ngIf="user"
          class="dropdown">
        <div>
          <a class="nav-link dropdown-toggle mr-sm-2" href="#"
             role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <b> {{user.firstName}} </b> <span class="caret"></span>
          </a>
          <div class="col-md-12">
            <ul class="dropdown-menu" role="menu" id="profiledropdown">
              <li class="dropdown-item">
                <a routerLink="/profile"><b role="button"> Profile </b></a>
              </li>
              <li class="dropdown-item">
                <b role="button" (click)="logout()"> Logout </b>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
