<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="home">NewsShorts</a>

  <div class="collapse navbar-collapse" id="navbarColor01">

    <ul class="nav navbar-nav mr-auto">
      <li class="dropdown">
        <a class="nav-link dropdown-toggle mr-sm-2" href="#" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <b>Categories</b> <span class="caret"></span>
        </a>
        <div class="dropdown-menu" role="menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Business</a>
          <a class="dropdown-item" href="#">Politics</a>
          <a class="dropdown-item" href="#">Tech</a>
          <a class="dropdown-item" href="#">International</a>
          <div class="dropdown-divider"> </div>
          <a href="#">More...</a>
        </div>
      </li>
    </ul>

    <label *ngIf="user.firstName"
           class="form-check-label"
           id="username">
      {{user.firstName}}
    </label>

    <ul class="nav navbar-nav navbar-right">
      <li><p class="navbar-text">Already have an account?</p></li>
      <li *ngIf="!user.firstName"
          class="dropdown">
        <a class="nav-link dropdown-toggle mr-sm-2" aria-haspopup="true" aria-expanded="false" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <b>Login</b> <span class="caret"></span>
        </a>
        <ul id="login-dp" class="dropdown-menu">
          <li>
            <div class="row">
              <div class="col-md-12">
                <app-login></app-login>
                <div class="bottom text-center">
                  New here ? <a href="#"><b>Join Us</b></a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <li *ngIf="user.firstName" class="dropdown">
        <label>Logout</label>

      </li>
    </ul>
  </div>
</nav>
