<div class="container-fluid float-right"
     *ngIf="user.username == 'admin'">
  <label class="fa fa-user-secret fa-2x float-left">
    ADMIN
  </label>
  <br/>
  <a class="btn fa fa-user-secret btn-outline-dark float-right"
     routerLink="/admin">
    Admin Page
  </a>
  <br/>
</div>
<div class="container-fluid">
  <h1>Profile</h1>

  <label>Username</label>
  <input [(ngModel)]="user.username"
         placeholder="username"
         class="form-control"/>
  <br/>
  <label>First Name</label>
  <input [(ngModel)]="user.firstName"
         placeholder="John"
         class="form-control"/>
  <br/>
  <label>Last Name</label>
  <input [(ngModel)]="user.lastName"
         placeholder="Doe"
         class="form-control"/>
  <br/>
  <label>Email</label>
  <input [(ngModel)]="user.email"
         placeholder="example@example.com"
         class="form-control"/>
  <br/>
  <label>Phone</label>
  <input [(ngModel)]="user.phone"
         placeholder="888-999-7777"
         class="form-control"/>
  <br/>
  <label>Date of Birth</label>
  <input [(ngModel)]="user.dob"
         placeholder="01-31-1970"
         class="form-control"/>
  <br/>

  <button (click)="update(user)"
          class="btn btn-primary btn-block">
    Update
  </button>
  <br/>
  <!--<button (click)="logout()"-->
          <!--class="btn btn-danger btn-block">-->
    <!--Logout-->
  <!--</button>-->
  <br/>
  <br/>

  <!--<a routerLink="/home"-->
     <!--*ngIf="user.username != 'admin'"-->
     <!--class="btn btn-success float-right">-->
    <!--Course Registration-->
  <!--</a>-->

  <!--<h2 *ngIf="user.username != 'admin'">-->
    <!--Registered Sections ({{enrollments.length}})-->
  <!--</h2>-->

  <!--<ul class="list-group"-->
      <!--*ngIf="user.username != 'admin'">-->
    <!--<li *ngFor="let enrollment of enrollments" class="list-group-item">-->
      <!--{{enrollment.section.name}}-->
      <!--({{enrollment.section.seats}})-->
      <!--<button class="btn btn-outline-dark float-right"-->
              <!--(click)="drop(enrollment._id)" >-->
        <!--Drop-->
      <!--</button>-->
    <!--</li>-->
  <!--</ul>-->
</div>
