<div class="container-fluid container-full">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div *ngFor="let image of images; let i = index"
           [attr.data-index]="i" class="w-100 h-100 carousel-item {{ i==0? 'active':''}}">
        <img class="full-img" src="../../assets/img/{{image}}" alt="First slide">
        <div class="text-block">
          <h4>{{staticHeadings[i]}}</h4>
          <p>{{staticParagraph[i]}}</p>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <button routerLink="/explore" class="mybtn-block btn btn-primary"> Explore more News</button>
    <h2>{{user.username}}</h2>
    <a href="/login">Login</a>
    <a href="/profile">Profile</a>
  </div>
</div>
