<form class="form">
  <div class="form-group">
    <input [(ngModel)]="username" name="usernameFld" type="text"
           class="form-control" placeholder="Username" required="">
  </div>
  <div class="form-group">
    <input type="password" [(ngModel)]="password1" name="passwordFld"
           class="form-control" placeholder="Password" required="">
  </div>
  <div class="form-group">
    <input type="password" [(ngModel)]="password2" name="verifyPasswordFld"
           class="form-control" placeholder="Verify Password" required="">
  </div>
  <div class="form-group">
    <select id="roleFld" class="form-control" name="roleFld"
            [(ngModel)]="role" required="">
      <option value="ROLE">Select Role</option>
      <option value="Editor">EDITOR</option>
      <option value="Reader">READER</option>
      <option value="Advertiser">ADVERTISER</option>
    </select>
  </div>
  <div class="form-group">
    <button type="submit" (click)="register(username, password1, password2, role)" class="btn btn-primary btn-block">
      Register
    </button>
  </div>

</form>
